<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/css/style.css" rel="stylesheet">

<!-- font-awesome -->
<link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
<!-- 蓝鲸提供的pc,移动端公用样式库 -->
<link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
<link href="https://magicbox.bk.tencent.com/static_api/v3/bk_mobile/css/bkui.css" rel="stylesheet">

<div class="container">
    <div class="main">
        <img class="logo" src="/assets/img/logo_default_light.png">
        <!-- <h3 class="title">TY-LIMS 今日看板</h3> -->
    </div>
</div>