<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/css/style.css" rel="stylesheet">

<!-- font-awesome -->
<link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
<!-- 蓝鲸提供的pc,移动端公用样式库 -->
<link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
<link href="https://magicbox.bk.tencent.com/static_api/v3/bk_mobile/css/bkui.css" rel="stylesheet">

<div>
  <div class="p50">
      <div class="mt15 text-center">
          <img src="/assets/icons/logo2.png" alt="..." class="img-circle" width="80" height="80">
      </div>
      <a href="javascript:;" class="bkui-btn bkui-btn-success bkui-mt15 king-btn-demo king-btn king-round" style="background: #23b574;">
        <img class="mr10" src="/assets/icons/wx01.png" width="18" alt="">
        <small>请使用微信登录</small>
      </a>

      <div class="p50"></div>

      <form class="bkui-form bkui-form-group mt15" (ngSubmit)="login()" #loginForm="ngForm">

        <div class="form-group m-form__group">
                <input class="form-control m-input" id="username" name="username" type="text" [(ngModel)]="loginVM.username" placeholder="账号" required >
        <!-- </div>
        <div class="form-group m-form__group"> -->
                <input class="form-control m-input" id="password" name="password" type="password" [(ngModel)]="loginVM.password" placeholder="请输入密码" required >
        </div>
        <div class="form-group">
                <button type="submit" id="login" class="bkui-btn bkui-btn-primary bkui-mt15 king-btn-demo king-btn king-round" style="background: #7792af;">
                    <small>登录</small>
                </button>
        </div>
    </form>
  </div>
</div>