<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/css/style.css" rel="stylesheet">

<!-- font-awesome -->
<link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
<!-- 蓝鲸提供的pc,移动端公用样式库 -->
<link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
<link href="https://magicbox.bk.tencent.com/static_api/v3/bk_mobile/css/bkui.css" rel="stylesheet">

<div>
  <div class="bkui-search-box p15" id="search1_demo1">
      <div class="bkui-search-input">
          <span class="bkui-search-btn icon fa fa-search mt5 f14"> </span>
          <input class="bkui-search-inputtext" name="search" [(ngModel)]="search" (ngModelChange)="filterTask()" placeholder="搜索">
          <button class="bkui-close-btn"></button>
      </div>
  </div>
</div>
<div>
  <div class="bkui-list undefined m0">
      <div id="card-994736">
      </div>
  </div>
</div>

<div *ngFor="let task of currentTasks" class="card">
    <div class="card-header flex_wrap a-c p0">
        <a class="bkui-list-item card-link flex_1" data-toggle="collapse" data-parent="#card-994736" [class.active]="task === selectedTask" (click)="onSelect(task)">
            <span class="bkui-list-fl">
                <strong>任务编号：<span class="customer" [id]="task.id">{{task.code}}</span></strong>
            </span>
            <i class="fa fa-angle-right bkui-list-fr bkui-list-fricon" (click)="getPoint(task)"></i>
        </a>
    </div>
    <div *ngIf="selectedTask === task">
        <div class="card-body p15">
            <ul class="list-unstyled">
                <li class="list-item">
                    项目编号： {{selectedTask.id}}
                </li>
                <li class="list-item">
                    项目名称： {{selectedTask.name}}
                </li>
                <li class="list-item">
                    行政区域： {{selectedTask.areaName}}
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="nav-menu w-100" style="background: #fff;">
  <div class="flex_wrap pt5">
      <div class="king-pearl current flex_1">
          <a class="king-pearl-icon" href="/task">
              <i class="fa fa-user" aria-hidden="true"></i>
          </a>
          <span class="king-pearl-title">任务列表</span>
      </div>
      <div class="king-pearl done flex_1">
          <a class="king-pearl-icon" href="/point">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
          </a>
          <span class="king-pearl-title">测点信息</span>
      </div>
      <div class="king-pearl done flex_1">
          <a class="king-pearl-icon" href="/sample">
              <i class="fa fa-check" aria-hidden="true"></i>
          </a>
          <small class="king-pearl-title">采样记录</small>
      </div>
      <div class="king-pearl done flex_1">
          <a class="king-pearl-icon" href="/input">
              <i class="fa fa-cloud-upload" aria-hidden="true"></i>
          </a>
          <span class="king-pearl-title">测定结果</span>
      </div>
  </div>
</div>