
<div class="block-content">
	<div class="d-flex row">
		<div class="col-6 d-flex justify-content-center">
			<div class="block-box col-md-12" [ngClass]="{'active':active1}">
				<div class="block-top d-flex m--margin-top-15">
					<div class="block-icon col-auto">
						<i class="iconfont m--icon-font-size-lg5">&#xe62a;</i>
					</div>
					<div class="block-value col m--align-center">2/100</div>
				</div>
				<div class="block-bottom m--margin-top-10">今日变化登记数/当年累计委托总数</div>
			</div>
		</div>
		<div class="col-6 d-flex justify-content-center">
			<div class="block-box col-md-12" (mouseover)="active1=false">
				<div class="block-top d-flex m--margin-top-15">
					<div class="block-icon col-auto">
						<i class="iconfont m--icon-font-size-lg5">&#xe61e;</i>
					</div>
					<div class="block-value col m--align-center">3/5</div>
				</div>
				<div class="block-bottom m--margin-top-10">今日接收任务数/今日下达任务数</div>
			</div>
		</div>
	</div>
	<div class="d-flex row">
		<div class="col-6 d-flex justify-content-center">
			<div class="block-box col-md-12" (mouseover)="active1=false">
				<div class="block-top d-flex m--margin-top-15">
					<div class="block-icon col-auto">
						<i class="iconfont m--icon-font-size-lg5">&#xe624;</i>
					</div>
					<div class="block-value col m--align-center">10/20</div>
				</div>
				<div class="block-bottom m--margin-top-10">正在执行采样任务数/今日计划采样任务总数</div>
			</div>
		</div>
		<div class="col-6 d-flex justify-content-center">
			<div class="block-box col-md-12" (mouseover)="active1=false">
				<div class="block-top d-flex m--margin-top-15">
					<div class="block-icon col-auto">
						<i class="iconfont m--icon-font-size-lg5">&#xe615;</i>
					</div>
					<div class="block-value col m--align-center">200/160</div>
				</div>
				<div class="block-bottom m--margin-top-10">今日交样数/今日待分析样品数</div>
			</div>
		</div>
	</div>
  </div>