<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/css/style.css" rel="stylesheet">

<!-- font-awesome -->
<link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
<!-- 蓝鲸提供的pc,移动端公用样式库 -->
<link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
<link href="https://magicbox.bk.tencent.com/static_api/v3/bk_mobile/css/bkui.css" rel="stylesheet">

<div style="background:#fff;">
  <div class="pt15 pl20 pr20">
    <p id="projectName">项目名称:&nbsp;&nbsp;{{currentSample.point.task.project.name}}</p>
    <p id="taskCode">任务单编号:&nbsp;&nbsp;{{currentSample.point.task.code}}</p>
    <p id="point">
      <strong>当前测点:</strong>&nbsp;&nbsp;{{currentSample.point.code}}&nbsp;&nbsp;&nbsp;&nbsp;{{currentSample.point.name}}
    </p>
  </div>

  <form class="bkui-form bkui-form-group">
    <label class="bkui-group-cell">
      <span>
        <strong>
          <small>样品编号</small>
        </strong>
      </span>
      <select #select id="sampleCode" value="" class="bkui-select" placeholder="下拉选框" (change)="sampleCodeChange(select.value)">
        <option [value]="currentSample.id" *ngFor="let sample of samples">{{sample.code}}</option>
      </select>
    </label>
  </form>
</div>

<div>
  <!--HTML-->
  <form class="bkui-form bkui-form-group">
    <div class="bkui-title bkui-font-sm bkui-spacing">
      基础数据录入
    </div>
    <label class="bkui-group-cell">
      <span class="w-100">
        <small>
          <strong>* 采样时间</strong>
        </small>
      </span>
      <input id="sampleDate" class="bkui-date" type="date" name="user_date" placeholder="年　月　日" [value]="currentSample.sampleDate"/>
    </label>
    <label class="bkui-group-cell">
      <span class="w-100">
        <small>
          <strong>* 采样人</strong>
        </small>
      </span>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <select id="user1" class="bkui-select" placeholder="下拉选框">
          <option *ngFor="let user of sampleUsers" [value]="currentSample.user1.id">{{user.name}}</option>
      </select>
      <select id="user2" class="bkui-select" placeholder="下拉选框">
          <option *ngFor="let user of sampleUsers" [value]="currentSample.user2.id">{{user.name}}</option>
      </select>
    </label>
    <label class="bkui-group-cell">
      <span class="w-100">
        <small>
          <strong>* 大气压</strong>
        </small>
      </span>
      <input id="dqy" class="bkui-input" type="number" placeholder="请输入请输入测量值" [value]="currentSample.dqy"/>
      <span>Pa</span>
    </label>
    <label class="bkui-group-cell">
      <span class="w-100">
        <small>
          <strong>* 风向</strong>
        </small>
      </span>
      <input id="fx" class="bkui-input" placeholder="请输入请输入测量值"  [value]="currentSample.fx"/>
      <span></span>
    </label>
    <label class="bkui-group-cell">
      <span class="w-100">
        <small>
          <strong>* 风速</strong>
        </small>
      </span>
      <input id="fs" class="bkui-input" placeholder="请输入请输入测量值"  [value]="currentSample.fs"/>
      <span>m/s</span>
    </label>
    <label class="bkui-group-cell">
      <span class="w-100">
        <small>
          <strong>* 温度</strong>
        </small>
      </span>
      <input id="wd" class="bkui-input" placeholder="请输入请输入测量值"  [value]="currentSample.wd"/>
      <span>℃</span>
    </label>
    <label class="bkui-group-cell">
      <span class="w-100">
        <small>
          <strong>* 相对湿度</strong>
        </small>
      </span>
      <input id="xdsd" class="bkui-input" placeholder="请输入请输入测量值"  [value]="currentSample.xdsd"/>
      <span></span>
    </label>

  </form>

  <form id="params-form" class="bkui-form bkui-form-group">
    <div id="paramsInsert" class="bkui-title bkui-font-sm bkui-spacing">
      现场采样录入
    </div>
    <div *ngFor="let param of list">
        <label class="bkui-group-cell">
         <span class="w-100">
             <small>
                 <strong class="name">{{param.name}}</strong>
             </small>
         </span>
         <input class="bkui-input" type="number" [id]="param.key" [name]="param.key" [value]="param.value"   placeholder="请输入请输入测量值" />
         <span class="unit">{{param.unit}}</span>
     </label>
     </div>
  </form>

  <div class="bkui-section bkui-spacing">
    <div class="bkui-hd">
      <button (click)="save()" onclick="submit(true)" class="bkui-btn bkui-btn-default bkui-mt15">
        保存
      </button>
      <button (click)="submit()" onclick="submit(false)" class="bkui-btn bkui-btn-success bkui-mt15">
        提交
      </button>
    </div>
  </div>

</div>

<div class="nav-menu w-100" style="background: #fff;">
  <div class="flex_wrap pt5">
    <div class="king-pearl done flex_1">
      <a class="king-pearl-icon" href="/task">
        <i class="fa fa-user" aria-hidden="true"></i>
      </a>
      <span class="king-pearl-title">任务列表</span>
    </div>
    <div class="king-pearl done flex_1">
      <a class="king-pearl-icon" href="/point">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </a>
      <span class="king-pearl-title">测点信息</span>
    </div>
    <div class="king-pearl done flex_1">
      <a class="king-pearl-icon" href="/sample">
        <i class="fa fa-check" aria-hidden="true"></i>
      </a>
      <small class="king-pearl-title">采样记录</small>
    </div>
    <div class="king-pearl current flex_1">
      <a class="king-pearl-icon" href="/input">
        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
      </a>
      <span class="king-pearl-title">测定结果</span>
    </div>
  </div>
</div>