
body {
    padding-bottom: 66px;
}
.flex_wrap {
    display: flex;
    flex-flow: row wrap;
}

.flex_1 {
    flex: 1;
}

.col-auto{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}

.ct {
    text-align: center;
}

.nav-menu {
    position: fixed;
    bottom:0;
}

section .king-pearl .king-pearl-title {
    margin-top: 0.1 rem;
    font-size: 12px;
}


.j-l {
    justify-content: flex-start;
}

.j-e {
    justify-content: flex-end;
}

.j-c {
    justify-content: center;
}

.j-s {
    justify-content: space-between;
}

.a-l {
    align-items: flex-start;
}

.a-e {
    align-items: flex-end;
}

.a-c {
    align-items: center;
}

.a-b {
    align-items: baseline;
}

.a-s {
    align-items: stretch;
}

.m-form__group .form-control {
    border-radius: 40px;
    border: none;
    padding: 1.5rem 1.5rem;
    margin-top: 1.5rem;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.63rem 1.05rem;
    font-size: 1rem;
    line-height: 1.35;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.card {
    min-width: 160px;
}